.nav {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 110px;
  border-bottom: solid;
  // border-left: solid;
  // border-right: solid;
  border-color: #78a2cc;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    transition: 0.3s ease-in-out;
  }
  a:hover {
    color: #fdfd96;
  }
}

@media (max-width: 900px) {
  .nav {
    a {
      font-size: 20px;
    }
  }
}
